<div class="displaySilverLeague">
  <h1>This is the hub for the Compete League NA Bronze and Silver League</h1>
  <div class="textCentered"><img class="premierBadgeImg" src="images/league/silver_premier_badge.png" /></div>

  <br>
  <br>
  <table class="table rankingTable left">
    <tr>
      <th colspan="4">Season Rankings</th>
    </tr>
    <tr>
      <td>1.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>2.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>4.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>5.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>6.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>7.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>8.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>9.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>10.</td>
      <td>CompeteLeague</td>
      <td>10-0</td>
      <td>100%</td>
    </tr>
  </table>
  <table class="table scheduleTable right">
    <tr>
      <th colspan="5">Schedule</th>
    </tr>
    <tr>
      <td><b>Date</b></td>
      <td><b>Time</b></td>
      <td><b>Blue Team</b></td>
      <td><b>Red Team</b></td>
      <td><b>Streamed</b></td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
    <tr>
      <td>01/01</td>
      <td>06pm</td>
      <td>CompeteLeague</td>
      <td>LeagueCompete</td>
      <td>yes</td>
    </tr>
  </table>
  <a class="right" href="?do=Schedule&league=Silver">See full schedule...</a>
  <div class="clear spacer"></div>
  <h2>Leagues Dream Team</h2>
  <div class="leaguesDreamTeam">
    <div class="midDreamTeam">
      <div class="dreamTeamPlayerName">Youchra</div>
      <div class="dreamTeamTeamIcon"></div>
      <div class="dreamTeamPlayerIcon"></div>
      <div class="DreamTeamKDA">13.5</div>
      <div class="DreamTeamGPM">425</div>
      <div class="DreamTeamCSPM">6.5</div>
    </div>
    <div class="adcDreamTeam">
      <div class="dreamTeamPlayerName">Youchra</div>
      <div class="dreamTeamTeamIcon"></div>
      <div class="dreamTeamPlayerIcon"></div>
      <div class="DreamTeamKDA">13.5</div>
      <div class="DreamTeamGPM">425</div>
      <div class="DreamTeamCSPM">6.5</div>
    </div>
    <div class="clear spacer"></div>
    <div class="topDreamTeam">
      <div class="dreamTeamPlayerName">Youchra</div>
      <div class="dreamTeamTeamIcon"></div>
      <div class="dreamTeamPlayerIcon"></div>
      <div class="DreamTeamKDA">13.5</div>
      <div class="DreamTeamGPM">425</div>
      <div class="DreamTeamCSPM">6.5</div>
    </div>
    <div class="jungleDreamTeam">
      <div class="dreamTeamPlayerName">Youchra</div>
      <div class="dreamTeamTeamIcon"></div>
      <div class="dreamTeamPlayerIcon"></div>
      <div class="DreamTeamKDA">13.5</div>
      <div class="DreamTeamGPM">425</div>
      <div class="DreamTeamCSPM">6.5</div>
    </div>
    <div class="supportDreamTeam">
      <div class="dreamTeamPlayerName">Youchra</div>
      <div class="dreamTeamTeamIcon"></div>
      <div class="dreamTeamPlayerIcon"></div>
      <div class="DreamTeamKDA">13.5</div>
      <div class="DreamTeamGPM">425</div>
      <div class="DreamTeamCSPM">6.5</div>
    </div>
  </div>
  <div class="clear spacer"></div>
  <div class="left">

      <a href="?do=Rulebook"><input class="button" type="submit" value="Ruleset"></a><br>
      The complete ruleset for <br>
      the CompeteLeague Open <br>
      and Premier Leagues

  </div>
  <div class="right">
    <div class="textCentered">
      <input class="button joinBtn" type="submit" value="Register"><br>
      Want to join our leagues?<br>
      Register today and be playing by X date<br>
    </div>
  </div>
  <div class="clear spacer"></div>
  <h2>View our Leagues</h2>
  <div>
    <ul class="premierBadges">
      <li><a href="?do=Leagues&league=Silver&type=Premier"><img class="premierBadgeImg" src="images/league/silver_premier_badge.png" /></a></li>
      <li><a href="?do=Leagues&league=Platinum&type=Premier"><img class="premierBadgeImg" src="images/league/platinum_premier_badge.png" /></a></li>
      <li><a href="?do=Leagues&league=Diamond&type=Premier"><img class="premierBadgeImg" src="images/league/diamond_premier_badge.png" /></a></li>
    </ul>

    <div class="clear"></div>

    <ul class="openBadges">
      <li><a href="?do=Leagues&league=Silver&type=Open"><img class="openBadgeImg" src="images/league/silver_open_badge.png" /></a></li>
      <li><a href="?do=Leagues&league=Platinum&type=Open"><img class="openBadgeImg" src="images/league/platinum_open_badge.png" /></a></li>
      <li><a href="?do=Leagues&league=Diamond&type=Open"><img class="openBadgeImg" src="images/league/diamond_open_badge.png" /></a></li>
    </ul>
  </div>
</div>
