  <div id="sponsorBox">
    <div id="ourSponsorsBGFirstPart">&nbsp;</div>
    <div id="ourSponsorsBGSecondPart">
      <h6>Our Sponsors</h6>
    </div>

    <div class="clear"></div>

    <div id="firstSponsor"></div>
    <div id="secondSponsor"></div>
    <div id="thirdSponsor"></div>
    <div id="fourthSponsor"></div>
    <div id="fifthSponsor"></div>
  </div>
<footer>
  <div class="clear spacer"></div>
  <a href="" target="_blank"><img class="footerImage" src="../../assets/images/socialMedia/facebook_circle.png"></a>
  <a href="" target="_blank"><img class="footerImage" src="../../assets/images/socialMedia/paypal_circle.png"></a>
  <a href="" target="_blank"><img class="footerImage" src="../../assets/images/socialMedia/twitter_circle.png"></a>
  <a href="" target="_blank"><img class="footerImage" src="../../assets/images/socialMedia/reddit_circle.png"></a>
  <a href="" target="_blank"><img class="footerImage" src="../../assets/images/socialMedia/twitch_circle.png"></a>
  <a href="" target="_blank"><img class="footerImage" src="../../assets/images/socialMedia/youtube_circle.png"></a>
  <br>
  <div class="footerNav">
    <a href="#/privacy-policy">Privacy Policy</a> - <a href="#/terms-and-conditions">Terms &amp; Conditions</a> - <a href="#/about">About CompeteLeague</a> - <a href="#/contact">Contact Us</a>
  </div>
  <div class="footerBottom">
    <hr>
    &copy; CompeteLeague all rights reserved<br>
    <br>
  <!--	<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=0Bh0aKDmNeJJIya1olNzmlhbfC67P5sU2jNkN1mMu69lZE41F20tK7OnDc4i"></script></span> -->
    <br>
  </div>
</footer>
