<div class="textContent">
	<h2>Sponsorship Packages</h2>
	<div class="spacer"></div>
	<div class="sponsorTable">
		<table>
			<tr>
				<td>Basic</td>
				<td>Superior</td>
				<td>Elite</td>
			<tr>
			<tr>
				<td>
          - Social Media Logo Placement<br>
					- Logo on rotation during stream<br>
					- Logo and description on bottom of sponsors page
				</td>
				<td>
					- Social Media Logo Placement<br>
					- 8 Social Media Sponsored Posts<br>
					- Logo on rotation during stream<br>
					- Written audio transcript read (x3) on stream<br>
					- Website logo integration in sponsors bar <br>
					- Logo and description on sponsors page
				</td>
				<td>
					- Social Media Logo Placement<br>
					- 40 Social Media Sponsored Posts<br>
					- Logo fixed during stream<br>
					- Written audio transcript read on stream<br>
					- Video message displayed (x1) on stream<br>
					- Website logo integration in sponsors bar<br>
					- Featured website logo and description on sponsors page<br>
					- Official sponsor of a league<br>
					- A CompeteLeague custom email to our userbase detailing that you're our sponsor and why we recommend your product.
				</td>
			</tr>
		</table>
	</div>
	<div class="clear spacer"></div>
	   Those companies wishing to donate products as prizes for the participants of our leagues will be considered on a case by case basis. Product offers will be considered individually, and if accepted will be mentioned on social medias/streams with a frequency on a scale of monetary value.
	<div class="clear spacer"></div>
	<h2>Custom Packages</h2>
	   If you wish to discuss a custom marketing projects that are variations of the above packages or include aspects not mentioned then contact mindmesser@competeleague.com for discussion of terms and pricing details.
</div>
