<div class="clear spacer"></div>
<div ng-include="'shared/slider/slider.html'"></div>

<div id="leagueBadgesContainer">
 <div class="spacer"></div>
 <h1>COMPETITION ACROSS ALL RANKS</h1>
 <br />
 <h3>WE ARE DEDICATED TO BRINGING A <br />
	COMPETIVE SCENE TO GAMERS, AT EVERY LEVEL</h3>

	<ul class="premierBadges">
		<li><a ng-href="#/leaguesSilverPremier" href=""><img class="premierBadgeImg" src="../../assets/images/league/silver_premier_badge.png" /></a></li>
		<li><a ng-href="#/leaguesPlatinumPremier"  href=""><img class="premierBadgeImg" src="../../assets/images/league/platinum_premier_badge.png" /></a></li>
		<li><a ng-href="#/leaguesDiamondPremier" href=""><img class="premierBadgeImg" src="../../assets/images/league/diamond_premier_badge.png" /></a></li>
	</ul>

	<div class="clear"></div>

	<h1>VIEW OUR LEAGUES...</h3>

	<ul class="openBadges">
		<li><a ng-href="#/leaguesSilverOpen"  href=""><img class="openBadgeImg" src="../../assets/images/league/silver_open_badge.png" /></a></li>
		<li><a ng-href="#/leaguesPlatinumOpen" href=""><img class="openBadgeImg" src="../../assets/images/league/platinum_open_badge.png" /></a></li>
		<li><a ng-href="#/leaguesDiamondOpen" href=""><img class="openBadgeImg" src="../../assets/images/league/diamond_open_badge.png" /></a></li>
	</ul>

	<div class="clear"></div>
</div>

<div class="clear"></div>
