<div ng-if="!currentUser">
  <div class="textContent">
		<h2>Please login to see this part of the website</h2>
  </div>
</div>
<div ng-if="currentUser">
  <div class="textContent">
    <table class="table table-striped">
      <tr>
        <td><b>Name</b></td>
    		<td><b>League Account</b></td>
    		<td><b>SoloQRank</b></td>
    		<td><b>Position</b></td>
    	  <td><b>Language</b></td>
    		<td><b>availability</b></td>
    		<td><b>contact</b></td>
      </tr>
      <tr ng-repeat="freeAgent in freeAgents">
        <td>{{freeAgent.name}}</td>
        <td>{{freeAgent.leagueAccount}}</td>
        <td>{{freeAgent.soloQRank}}</td>
        <td>{{freeAgent.position}}</td>
        <td>{{freeAgent.language}}</td>
        <td>{{freeAgent.availability}}</td>
        <td><button class="btn btn-cl">contact</button></td>
      </tr>

  </table>

  </div>
</div>
