<br>
<div class="yourScheduleTableScroll" >
  <table class="table table-striped">
    <tr class="active">
      <td>Time</td>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>
      <td>Sunday</td>
    </tr>
    <tr ng-repeat="t in times">
      <td ng-bind="t"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<br>When it is time for your game, please be ready 15 minutes prior and get to the lobby!
<div class="clear spacer"></div>
